.article-detail-page .article-body .hljs {
  background-color: #1e1e1e;
  padding: 25px 15px 15px 15px;
  border-radius: 8px;
  position: relative;
}

.article-detail-page .article-body .hljs::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #1a73e8;
  box-shadow: 30px 0 0 #4285f4, 60px 0 0 #9aa0a6;
}

.article-detail-page .article-body pre {
  background: rgba(255, 255, 255, 0.5) !important;
  color: #333333 !important;
  border-radius: 8px !important;
}

.article-detail-page .article-body code {
  background: rgba(255, 255, 255, 0.5) !important;
  color: #333333 !important;
  border-radius: 3px !important;
}